# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual Environment
env/
venv/

# Environment Variables
.env

# Django
media/
staticfiles/

# Node
node_modules/

# React Build
dist/
build/

# Coverage
coverage/
htmlcov/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Sonar
.scannerwork/